/*和user.css一样的部分*/
body{
    padding-left: 5%;
    padding-top: 1%
}
body>div{
    margin-right: 5%
}
div.back{
    display: flex;
    justify-content: flex-end;
    padding-right: 5%
}
div.back a{
    margin-bottom: 2%
}

img{
    height: 16px;   
}
.pointer,img{
    cursor:pointer
}

/*独立部分*/
div.panel{
    padding: 2%
}
div.page-header{
    font-size: 200%;
    font-weight: bold
}
div.form-group input{
    width: 25%
}

/*添加新文章*/
div.articleDiv{
    border: 1px solid #31b0d5;
    width: 70%;
    height: 500px;
    font-size: 20px;
}
div.effect{
    border-top: 1px solid #e8e8e8;
    width: 50%;
}
div.effect>div{
    display: inline-block;
    margin-bottom: 0.5%;
    padding-left: 0.5%;
}
div.textEffect{
    font-weight: bold;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-right: 1px solid #e8e8e8;
}
div.textEffect>div{
    display: inline-block;
    width: 20px;
    height: 20px;
}
div.addPic{
    width: 20px;
    height: 20px;
    margin-left: 1%;
}




