doctype html
html
    head
        title 后台管理页面
        meta(http-equiv='Content-type',content="text/html;charset=utf-8")  
        link(href="/public/style/bootstrap.min.css",rel="stylesheet")
        link(href="/public/style/admin.css",rel="stylesheet")
    body
        div(class="page-header")
            h1 后台管理页面
                small 管理分类、文章、评论、用户等等
        nav(class="navbar navbar-default")
            div(class="container-fluid")
                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                    ul(class="nav navbar-nav")
                        li
                            a(href="/admin/category") 分类管理
                        li 
                            a(href="/admin/article") 文章管理
                        li 
                            a(href="/admin/users") 用户管理
                            
        
        script(type="text/javascript",src="/public/js/jquery.js")
        script(type="text/javascript",src="/public/js/bootstrap.min.js")