doctype html
html
    head
        title 我的博客
        meta(http-equiv='Content-type',content="text/html;charset=utf-8")
        link(type="text/css",rel="stylesheet",href="/public/style/index1.css")  
        link(href="/public/style/bootstrap.min.css",rel="stylesheet")          
    body
        div(class='top')
            img(src='/public/img/backgroundPic.png')
            //- img(src='/public/img/桃谷绘里香1.jpg' alt='桃谷绘里香1')
            //- img(src='/public/img/桃谷绘里香2.jpg' alt='桃谷绘里香2')
            //- img(src='/public/img/桃谷绘里香3.jpg' alt='桃谷绘里香3')
            //- img(src='/public/img/桃谷绘里香4.jpg' alt='桃谷绘里香4')
        div(class='head')
            div(class='navigation')
                div(class='navigationChildren') 首页
                - for(let i=0;i<category.length;i++)
                    div(class='navigationChildren')=category[i].nameCategory
        script(type="text/javascript",src="/public/js/index1.js")
        script(type="text/javascript",src="/public/js/jquery.js")
        script(type="text/javascript",src="/public/js/bootstrap.min.js")
            